body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #181818;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

nav ul li a:hover {
    text-decoration: underline;
}


.container_1{
 height: 200px;
 width: 200px;
 background-color: #e62020;
}